# Runs deprecated js-dash-sdk tutorial tests (manual trigger only)

name: Deprecated SDK Tests

on:
  workflow_dispatch:

jobs:
  test_deprecated_queries:
    runs-on: ubuntu-latest
    env:
      CI: true
      NETWORK: 'testnet'
    strategy:
      matrix:
        node-version: [20]
    timeout-minutes: 15
    steps:
      - name: Use https instead of ssh for git
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - name: Run deprecated query tests
        run: npm run test:deprecated:queries

  test_deprecated_integration:
    runs-on: ubuntu-latest
    env:
      CI: true
      NETWORK: 'testnet'
      WALLET_MNEMONIC: ${{ secrets.WALLET_MNEMONIC }}
      SYNC_START_HEIGHT: 1268800
    strategy:
      matrix:
        node-version: [20]
    timeout-minutes: 15
    steps:
      - name: Use https instead of ssh for git
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - name: Run deprecated integration tests
        run: npm run test:deprecated:integration
