# Runs evo-sdk tutorial and query tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  #schedule:
    ## * is a special character in YAML so you have to quote this string
    #- cron:  '0 */8 * * *'

jobs:
  test_queries:
    runs-on: ubuntu-latest
    env:
      CI: true
      NETWORK: 'testnet'
    strategy:
      matrix:
        node-version: [20]
    timeout-minutes: 15
    steps:
      - name: Use https instead of ssh for git
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - name: Run query tests
        run: npm run test:queries

  test_tutorials:
    runs-on: ubuntu-latest
    env:
      CI: true
      NETWORK: 'testnet'
      PLATFORM_MNEMONIC: ${{ secrets.PLATFORM_MNEMONIC }}
    strategy:
      matrix:
        node-version: [20]
    timeout-minutes: 15
    steps:
      - name: Use https instead of ssh for git
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - name: Run tutorial tests
        run: npm run test:tutorials
